@import "tailwindcss";

@keyframes appearBottom {
    from {
        opacity: 0;
        bottom: -100px;
    }
    to {
        opacity: 1;
        bottom: 0px;
    }
}

@theme {
    --animate-appear-bottom: appearBottom 0.5s ease-out;
}
